body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da viewport */
    background-color: #000000; /* Cor de fundo mais sóbria */
}



.card {
    width: 400px; /* Largura do card */
}

